body {
  background-color: black;
}

h1 {
  background-color: #fe2511; text-align: center;
  color: #e8e8e8;font-family: Georgia, Fantasy;
}

h3 {
  background-color: #fe2511; text-align: center;
  color: #e8e8e8;font-family: Helvetica, Sans-serif;
}

h6 {
  color: #d8d8d8; font-family: Helvetica, Sans-serif;
}

label {
  color: #d8d8d8; font-family: Helvetica, Sans-serif;
}
 

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #8f9113;
  padding: 10px;
}

.center1 {
  margin: auto;
  width: 60%;
  border: 3px solid #fe2511;
  padding: 10px;
}
  
